@model IEnumerable<FB.Models.User>

@{
    ViewBag.Title = "FriendesList";
}

<h2>FriendesList</h2>

<table class="table">


@foreach (var item in Model)
{
    
 <tr>
     <td>
         @if (item.profile_picture != null)
         {
             <img src="~/uploads/profile_pictures/@item.profile_picture" alt="error" width="50" height="50" />
         }
         else
         {
             <img src="~/uploads/profile_pictures/default.jpg" alt="error" width="50" height="50" />
         }
         @Html.ActionLink(item.first_name + " " + item.last_name, "ShowFriend", new { id = item.id }) 

     </td>

 </tr>
}

</table>
